<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Cents', root_path %></h1>
        </li>
<!--         Toggles when on a mobile screen -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="name">
            <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Login', new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </section>
    </nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
